! ------------------------------------------------------------------------------
! Solarized Light Color Configuration
! ------------------------------------------------------------------------------

! Dark
!#define S_base03        #002b36
!#define S_base02        #073642
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3

! Light
#define S_base03        #fdf6e3
#define S_base02        #eee8d5
#define S_base01        #93a1a1
#define S_base00        #839496
#define S_base0         #657b83
#define S_base1         #586e75
#define S_base2         #073642
#define S_base3         #002b36

! Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

*color0:                S_base02
*color8:                S_base03
*color1:                S_red
*color9:                S_orange
*color2:                S_green
*color10:               S_base01
*color3:                S_yellow
*color11:               S_base00
*color4:                S_blue
*color12:               S_base0
*color5:                S_magenta
*color13:               S_violet
*color6:                S_cyan
*color14:               S_base1
*color7:                S_base2
*color15:               S_base3

*background:            S_base03
*foreground:            S_base0
*fadeColor:             S_base3
*cursorColor:           S_base1
*pointerColorBackground: S_base01
*pointerColorForeground: S_base1

! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

! URxvt*font:				xft:monospace:size=12
! URxvt*font:				xft:Liberation Mono for powerline:size=11
URxvt*font:				xft:Roboto Mono for powerline:size=11
! URxvt*font:				xft:DejaVu Sans Mono for powerline:size=11


! ------------------------------------------------------------------------------
! Xft Font Configuration
! ------------------------------------------------------------------------------

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace:		0
URxvt.lineSpace:		0

! general settings
URxvt*saveline:			15000
! URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true

! appearance
URxvt*depth:			24
URxvt.background:       S_base03
URxvt*scrollBar:		false
URxvt*scrollBar_right:	false
URxvt*internalBorder:	30
URxvt*externalBorder:	0
URxvt.geometry:			84x22

! perl extensions
URxvt.perl-ext-common:	default,matcher,url-select,keyboard-select,resize-font

URxvt.keysym.M-Escape:	perl:keyboard-select:activate
URxvt.keysym.M-s:		perl:keyboard-select:search
URxvt.keysym.M-u:		perl:url-select:select_next
URxvt.urlLauncher:		xdg-open
URxvt.underlineURLs:	true
URxvt.urlButton:		1     

! scroll one line
URxvt.keysym.Shift-Up:		command:\033]720;1\007
URxvt.keysym.Shift-Down:	command:\033]721;1\007

! control arrow
URxvt.keysym.Control-Up:	\033[1;5A
URxvt.keysym.Control-Down:	\033[1;5B
URxvt.keysym.Control-Right:	\033[1;5C
URxvt.keysym.Control-Left:	\033[1;5D

! resize font
URxvt.resize-font.smaller:  C-u
URxvt.resize-font.bigger:   C-i

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:	    S_base1
dmenu.background:	        S_base03
dmenu.selbackground:	    S_base01
dmenu.foreground:	        S_base0
                                                           
